<div id="headerInfo">
	<div class="row">
		<div class="col-xs-2">
			<span class="glyphicon glyphicon-chevron-left"
				onclick="history.back();" style="cursor: pointer;">&nbsp;</span>
		</div>
		<div class="col-xs-8 text-center">
			<span>车主发布详情</span>
		</div>
		<div class="col-xs-2">
			<div class="pull-right">
				<span class="glyphicon glyphicon-trash" id="btn_trash" onclick="removeInfo('carOwner','101')"
					style="cursor: pointer;display: none;"></span>
			</div>
		</div>
	</div>
</div>
<div id="wrapperInfo" class="font-16">
	<div id="scrollerInfo">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<table style="font-size: 14px;">
						<tr>
							<td rowspan="2" valign="middle"><img id="carOwnerInfo_img_user_head" 
								style="width: 50px; height: 50px;" class="img-circle"
								onerror="nohead(this);">&nbsp;&nbsp;</td>
							<td valign="bottom">拉斐尔</td>
						</tr>
						<tr>
							<td valign="bottom"><font color="gray">2017-06-30 05:59:23&nbsp;&nbsp;&nbsp;&nbsp;<label
									class="glyphicon glyphicon-eye-open" title="浏览次数"></label>&nbsp;<span id="carOwnerInfo_lookCount">0</span></font></td>
						</tr>
					</table>
				</div>
			</div>
			<div class="row" style="height: 16px;"></div>
			<div class="row">
				<div class="col-xs-12" style="font-size: 20px;">
					<span style="color: gray; font-size: 16px;">从</span>&nbsp;&nbsp;邯山区&nbsp;&nbsp;<span
						style="color: gray; font-size: 16px;">到</span>&nbsp;&nbsp;邯山区
				</div>
			</div>
			<div class="row" style="height: 16px;"></div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">途经地点</div>
				<div class="col-xs-8">无</div>
			</div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">联系人</div>
				<div class="col-xs-8">拉斐尔&nbsp;
						<span class="badge-2">女</span>
						<span class="badge-2">9</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">联系电话</div>
				<div class="col-xs-9">15011376801</div>
			</div>
			 
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">发车时间</div>
				<div class="col-xs-8">
					 2017-06-30 17:59 
					&nbsp;&nbsp;<span class="timeago"
						style="color: gray; font-size: 14px;"
						title="2017-06-30 17:59"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">车辆型号</div>
				<div class="col-xs-8">杰德，2017豪华版，蓝色</div>
			</div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">拼车价格</div>
				<div class="col-xs-8">
					<b>5</b>&nbsp;元/人
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 text-nowrap left-label">剩余空位</div>
				<div class="col-xs-8">
					<b>1</b>&nbsp;位
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-nowrap left-label">车主留言</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<a href="javascript:void(0)">联系我时，请说是在邯郸拼车网上看到的，谢谢！</a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" style="word-break: break-all;"></div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 text-nowrap left-label">车辆照片</div>
			</div>

			<div class="row" style="padding: 2px;">
				
				<div class="carPhotoList" itemscope itemtype="http://schema.org/ImageGallery">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="callDiv">
	<a href="tel:15011376801"><span
		class="glyphicon glyphicon-earphone" ></span></a>
	<br>
	<a href="sms:15011376801" ><span
		class="glyphicon glyphicon-envelope"></span></a>
</div>
<script type="text/javascript">
	$.ajax({
		url:server.path+"/carOwnerInfo/updateLookCount",
		data:{id:101,_rdn:new Date().getTime()},
		success:function(data){
			if(data.valid)
				$("#carOwnerInfo_lookCount").html(data.message);
			else
				$("#carOwnerInfo_lookCount").html("--");
		}
	});
	
	$(".carPhotoList img").each(function(){
		var url = $(this).attr("src");
		$(this).attr("src",server.path+"/"+url);
	});
	$("#carOwnerInfo_img_user_head").attr("src",server.path+"/login/getPhoto?id=26&name=59bb9951-c9c7-4c74-bf7e-84396c58a61f_99_99.jpg");
	
	var curUser = getCurUser();
	
	if(curUser && curUser.id == "101"){
		$("#btn_trash").show();
	}
	
	document.addEventListener('touchmove', function(e) {
		e.preventDefault();
	}, false); 
	
	var myScrollInfo = new IScroll('#wrapperInfo', {
		probeType : 1, //probeType：1对性能没有影响。在滚动事件被触发时，滚动轴是不是忙着做它的东西。probeType：2总执行滚动，除了势头，反弹过程中的事件。这类似于原生的onscroll事件。probeType：3发出的滚动事件与到的像素精度。注意，滚动被迫requestAnimationFrame（即：useTransition：假）。  
		scrollbars : true,
		mouseWheel : true,
		interactiveScrollbars : true,
		shrinkScrollbars : 'scale',
		fadeScrollbars : true,
		preventDefault : false
	});
	
	$(".timeago").timeago();
	
	//当所有图片加载完毕后刷新iscroll
	isImgLoad("carPhone", function() {
		myScrollInfo.refresh();

	});
	
	initPhotoSwipeFromDOM('.carPhotoList');
	
	 
	
</script>